@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.TopHomePage h2 {
  color: black;
  padding-top: 5vh;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.TopHomePage p {
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  font-size: 20px;
}

.List {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  color: black;
  font-weight: bold;
}

.Instructions h2 {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  color: black;
}

.Instructions p {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 2vh;
  color: black;
}
