@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e5e5f7;
  /* opacity: 0.8; */
  /* background-color: #e20a43; */
  /* opacity: 0.8; */
  background-color: #0275d8;
  /* opacity: 0.8; */
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #0275d8 22px
    ),
    repeating-linear-gradient(#00000029, #0000008c);

  color: rgb(253, 253, 253);

  font-weight: bold;

  

  
    
}
